.background-container {
  /* background-image: url("./assets/mobile/bg-image-daytime.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/mobile/bg-image-daytime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aqua;
  height: 100vh;
  box-sizing: border-box;
}

.quote-container {
  padding: 20px;
}

.icon-quote-container {
  display: flex;
  max-width: 749px;
}

.fa-sync {
  color: #ffffff;
  margin-top: 7px;
  opacity: 0.6;
}

.quote,
.quote-author {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.quote {
  font-size: 15px;
  letter-spacing: 0.5;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 28px;
  font-weight: 300;
}
