.background-container {
  /* background-image: url("./assets/mobile/bg-image-daytime.jpg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/mobile/bg-image-daytime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  overflow: scroll;
}

/* quote section styles */

.quote-container {
  padding: 20px;
}

.quote-container.hidden {
  display: none;
}

.icon-quote-container {
  display: flex;
  max-width: 749px;
}

.fa-sync {
  margin-top: 7px;
  opacity: 0.6;
}

.quote-author {
  font-size: 18px;
}

.quote {
  font-size: 15px;
  letter-spacing: 0.5;
  margin-bottom: 20px;
  line-height: 28px;
  font-weight: 100;
}

/* time and location section */

.time-location-container {
  margin: 200px 30px 30px 30px;
}

.greeting-icon-container {
  display: flex;
  align-items: center;
}

.sun-icon {
  margin-right: 10px;
}

.greeting {
  letter-spacing: 5px;
  font-weight: 100;
  text-transform: uppercase;
}

.time-container {
  display: flex;
  margin: 5px 0 5px 0;
  align-items: baseline;
}

.time {
  font-size: 100px;
  font-weight: bold;
}

.time-zone,
.location {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.time-zone-drawer {
  font-weight: 100;
  color: black;
}

.info {
  font-weight: bold;
}

.more-less-info-button:hover {
  opacity: 0.4;
}

.more-less-info-button {
  background-color: #ddd;
  border: none;
  color: #000000;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 40px;
  display: flex;
  align-items: center;
  height: 56px;
  width: 146px;
  justify-content: center;
  overflow: visible;
}

.more-less-info-button .more-less-text {
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.5;
  width: 63px;
  margin-right: 13px;
}

.arrow-button-container {
  transform: rotate(180deg);
  transition: transform, 0.2s;
  overflow: visible;
}

.arrow-rotated {
  transform: rotate(360deg);
  transition: transform, 0.2s;
}

.arrow-down-background {
  background-color: #000000;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-chevron-down,
.fa-chevron-up {
  color: #ffffff;
}

.more-less-text {
  text-transform: uppercase;
  margin-right: 5px;
  margin-left: 17px;
}

/* timezone drawer styles */

.time-zone-drawer.expanded {
  background: rgba(255, 255, 255, 0.75);
  width: 100vw;
  height: 256px;
}

.info-wrapper.hidden {
  display: none;
}

.description {
  color: black;
  font-weight: 400;
  font-size: 10px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 168px;
  padding: 40px 28px 40px 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: Inter;
}

.current-timezone-wrapper,
.day-of-the-year-wrapper,
.day-of-the-week-wrapper,
.week-wrapper {
  display: flex;
  align-items: center;
  width: 323px;
  justify-content: space-between;
}
